<menu>
	<item text="Machine Learning: R vs Python">home</item>
	<folder text="Preprocessing">
		<item text="Import Dataframe">import</item>
		<item text="Impute Missing Values">impute</item>
		<item text="Convert Categorical Feature to Factors">categorical</item>
		<item text="Feature Scaling">feature_scaling</item>
		<item text="Binarization">binarize</item>
	</folder>
	<folder text="Improving Models">
		<item text="K-Folds Cross-Validation on Feature Matrix">splitting</item>
		<item text="Grid Search to Find Best Hyperparameter">gridsearch</item>
		<item text="Stepwise Regression">stepwise</item>
		<item text="Principle Component Analysis">pca</item>
		<item text="Linear Discriminant Analysis">lda</item>
		<item text="Regularization">regularize</item>
		<item text="Confusion Matrix">confusion</item>
	</folder>
	<folder text="Visualizations">
		<item text="Scatter Plots">scatterplot</item>
	</folder>
	<folder text="Regression">
		<item text="Linear Regression">linreg</item>
		<item text="Polynomial Regression">polyreg</item>
		<item text="Support Vector Regression">svreg</item>
		<item text="Decision Tree Regression">cartreg</item>
		<item text="Random Forest Regression">randomforest</item>
	</folder>
	<folder text="Classification">
		<item text="Logistic Regression">logreg</item>
		<item text="k-Nearest Neighbors">knn</item>
		<item text="Support Vector Classification">svc</item>
		<item text="Naive Bayes">naivebayes</item>
		<item text="Decision Tree Classification">cartclass</item>
		<item text="Random Forest Classification">rforestclass</item>
	</folder>
	<folder text="Clustering">
		<item text="k-Means">kmeans</item>
		<item text="Hierarchical Clustering">hclust</item>
	</folder>
</menu>