<menu>
	<item>
		<name>home</name>
		<text>Machine Learning: R vs Python</text>
	</item>
	<item>
		<name>import</name>
		<text>Import Dataframe</text>
	</item>
	<item>
		<name>impute</name>
		<text>Impute Missing Values</text>
	</item>
	<item>
		<name>categorical</name>
		<text>Convert Categorical Feature to Factors</text>
	</item>
	<item>
		<name>splitting</name>
		<text>K-Folds Cross-Validation on Feature Matrix</text>
	</item>
	<item>
		<name>findbestparam</name>
		<text>K-Folds Cross-Validation to Find Best Hyperparameter</text>
	</item>
	<item>
		<name>scatterplot</name>
		<text>Scatter plots</text>
	</item>
	<item>
		<name>feature_scaling</name>
		<text>Feature scaling</text>
	</item>
	<item>
		<name>stepwise</name>
		<text>Stepwise Regression</text>
	</item>
	<item>
		<name>binarize</name>
		<text>Binarization</text>
	</item>
	<item>
		<name>confusion</name>
		<text>Confusion Matrix</text>
	</item>
	<item>
		<name>linreg</name>
		<text>Linear Regression</text>
	</item>
	<item>
		<name>polyreg</name>
		<text>Polynomial Regression</text>
	</item>
	<item>
		<name>svreg</name>
		<text>Support Vector Regression</text>
	</item>
	<item>
		<name>regularize</name>
		<text>Regularization</text>
	</item>
	<item>
		<name>cartreg</name>
		<text>Decision Tree Regression</text>
	</item>
	<item>
		<name>randomforest</name>
		<text>Random Forest Regression</text>
	</item>
	<item>
		<name>logreg</name>
		<text>Logistic Regression</text>
	</item>
	<item>
		<name>knn</name>
		<text>k-Nearest Neighbors</text>
	</item>
	<item>
		<name>svc</name>
		<text>Support Vector Classification</text>
	</item>
	<item>
		<name>naivebayes</name>
		<text>Naive Bayes</text>
	</item>
	<item>
		<name>cartclass</name>
		<text>Decision Tree Classification</text>
	</item>
	<item>
		<name>rforestclass</name>
		<text>Random Forest Classification</text>
	</item>
</menu>