<menu>
	<item>
		<name>home</name>
		<text>Machine Learning: R vs Python</text>
	</item>
	<item>
		<name>import</name>
		<text>Import dataframe</text>
	</item>
	<item>
		<name>impute</name>
		<text>Impute missing values</text>
	</item>
	<item>
		<name>categorical</name>
		<text>Convert categorical feature to factors</text>
	</item>
	<item>
		<name>splitting</name>
		<text>Split and cross-validation</text>
	</item>
	<item>
		<name>scatterplot</name>
		<text>Scatter Plots</text>
	</item>
	<item>
		<name>feature_scaling</name>
		<text>Feature scaling</text>
	</item>
	<item>
		<name>stepwise</name>
		<text>Stepwise Regression</text>
	</item>
	<item>
		<name>linreg</name>
		<text>Linear Regression</text>
	</item>
	<item>
		<name>polyreg</name>
		<text>Polynomial Regression</text>
	</item>
	<item>
		<name>svreg</name>
		<text>Support Vector Regression</text>
	</item>
	<item>
		<name>regularize</name>
		<text>Regularization</text>
	</item>
	<item>
		<name>cartreg</name>
		<text>Decision Tree Regression</text>
	</item>
	<item>
		<name>randomforest</name>
		<text>Random Forest</text>
	</item>
</menu>