@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoItalic';
	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

h1, h2, .title {
	font-family: 'RobotoBold', sans-serif;
}

#intro {
	font-family: 'RobotoLight', sans-serif;
}

.name {
	font-family: 'RobotoItalic', sans-serif;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	word-wrap: break-word;
	margin: 0 auto;
}

th {
	font-family: 'RobotoBold', sans-serif;
}

td {
	font-family: 'RobotoLight', sans-serif;
}

.important {
	background-color: #fcc;
}

.code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.pros {
	width: 30vw;
	background-color: #b3ecff;
}

.cons {
	width: 30vw;
	background-color: #fcc;
}

	nav .accordian {
		background-color: #ddd;
		cursor: pointer;
		text-align: left;
		border: 1px solid black;
		margin-top: 5px;
		margin-left: 5px;
		transition: 0.4s;
		border-radius: 5px;
		height: 2em;
	}

	nav .active {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		background-color: #baa;
	}

	nav .accordian:hover {
		background-color: #cbb;
	}

	nav .panel {
		padding: 0px;
		display: none;
		overflow: hidden;
		margin: 0px;
		margin-top: -2px;
		margin-left: 10px;
		background-color: #edd;
		border: 1px solid black;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	nav ul {
		text-align: center;
		padding-left: 0px;
		margin-left: 0px;
	}

	nav li {
		list-style-type: none;
	}

	nav li:nth-child(odd) {
		background-color: #fee;
	}

	nav li:nth-child(even) {
		background-color: #edd;
	}

	nav li:hover {
		background-color: #977;
		color: #fee;
	}

	.leaf-closed, .arrow-closed {
		background-color: #e8e1e1;
	}

	.leaf-open, .arrow-open {
		background-color: #d6b4b4;
	}

	#nav-expand, #nav-expand-open {
		background-color: #ecc;
	}

@media only screen and (min-width: 576px) {

	#container {
		margin-left: 60px;
		width: 80vw;
	}

	#nav-expand {
		position: fixed;
		height: 100vh;
		width: 300px;
		border-right: 1px solid black;
		box-shadow: 10px 0px 5px grey;
		top: 0px;
		left: -250px;
		z-index: 100;
		transition: left 2s, box-shadow 2s;
	}

	#nav-leaf {
		position: absolute;
		height: 100vh;
		width: 50px;
		top: 0px;
		left: 250px;
		transition: background-color 2s;
	}

	#nav-arrow {
		height: 30px;
		width: 30px;
		position: absolute;
		top: calc(50% - 15px);
		left: 10px;
		transition: transform 2s;
		transform: rotate(0deg);
	}

	#nav-expand-open {
		position: fixed;
		height: 100vh;
		width: 300px;
		border-right: 1px solid black;
		top: 0px;
		left: 0px;
		z-index: 100;
		transition: left 2s, box-shadow 2s;
	}

	nav {
		position: absolute;
		height: 100vh;
		width: 225px;
		top: 0px;
		left: 0px;
		word-wrap: break-word;
	}

	nav .accordian {
		width: 235px;
	}

	nav .panel {
		width: 225px;
	}

	.title {
		text-transform: uppercase;
		color: #ffd;
		background-color: #369;
	}

	.lang {
		margin: 5px;
		border: 1px solid black;
		width: 80vw;
		float: left;
		padding: 0px;
	}

	#intro {
		width: 80vw;
		margin: 10px;
	}

	code {
		font-size: 80%;
	}

	.line-numbers-rows {
		top: -1px;
		font-size: 100%;
		line-height: 1.505;
	}

	code[class*="language-"],
	pre[class*="language-"] {
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
		padding-bottom: 5px;
	}

	.code {
		font-size: 90%;
	}

}

@media only screen and (min-width: 800px) {
	#container {
		width: 85vw;
	}

	#intro {
		width: 85vw;
	}

	.lang {
		width: 41vw;
	}
}

@media only screen and (min-width: 1000px) {
	#container {
		width: 90vw;
	}

	.lang {
		width: 43vw;
	}
}