@media only screen and (max-width: 576px) {

	body {
		overflow-x: hidden;
	}

	#container {
		margin: 5px;
		margin-top: 10vh;
		width: 95vw;
	}

	#nav-expand {
		position: absolute;
		height: 7vh;
		width: 100vw;
		border-right: 1px solid black;
		box-shadow: 0px 10px 5px grey;
		z-index: 100;
		top: 0px;
		left: 0px;
		transition: height 2s, box-shadow 2s;
	}

	#nav-leaf {
		position: relative;
		left: 0px;
		top: 0px;
		height: 7vh;
		width: 100vw;
		z-index: 200;
	}

	#nav-arrow {
		position: absolute;
		left: calc(50% - 2.5vh);
		top: 1vh;
		height: 5vh;
		width: 5vh;
		transition: transform 2s;
		transform: rotate(90deg);
	}

	#nav-expand-open {
		position: fixed;
		height: 80vh;
		width: 100vw;
		border-right: 1px solid black;
		top: 0px;
		left: 0px;
		z-index: 100;
		transition: height 2s, box-shadow 2s;
	}

	nav {
		position: absolute;
		height: 73vh;
		width: 100vw;
		top: 7vh;
		left: 0px;
		display: none;
		word-wrap: break-word;
		overflow-y: scroll;
		border-bottom: 1px solid black
	}

	nav .accordian {
		margin-left: 2vw;
		width: 90vw;
	}

	nav .panel {
		margin-left: 4vw;
		width: 86vw;
	}

	.title {
		text-transform: uppercase;
		font-family: "Arial";
		font-weight: bold;
		color: #ffd;
		background-color: #369;
	}

	.lang {
		margin: 5px;
		border: 1px solid black;
		width: 90vw;
		float: left;
		padding: 0px;
	}

	#intro {
		width: 90vw;
		margin: 10px;
		overflow: hidden;
		overflow-x: auto;
	}

	code {
		font-size: 80%;
	}

	.line-numbers-rows {
		top: -1px;
		font-size: 100%;
		line-height: 1.505;
	}

	code[class*="language-"],
	pre[class*="language-"] {
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
		padding-bottom: 5px;
	}

	.code {
		font-size: 80%;
	}

}